html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  right: 40px;
  top: 10px;
}
.splitScreen {
  display: flex;
  text-align: left;
  height: 83vh;
}
.repoLeft {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}
.commitRight {
  position: relative;
  flex: 1;
  overflow-y: scroll;
}
.branchSelect {
  width: 25%;
  margin: 0 auto;
  padding-top: 20px
}
form {
  position: absolute;
  height: 40px;
  padding-top: 50px;
  padding-left: 50px;
}
form input {
  width: 240px;
  height: 40px;
}
img {
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top:50%;
  width: 60px;
  height: 60px;
}
