html {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  background-color: #d8d8d8
}
.searchInput {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}
.splitScreen {
  display: flex;
  text-align: left;
  height: 90vh;
  width: 98vw;
}
.repoLeft {
  flex: 0 0 50%;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 23px;
}
.commitRight {
  flex: 0 0 50%;
  overflow: scroll;
  overflow-x: hidden;
}
.commit {
  padding: 10px;
  background-color: #f2f6ff;
  border: 1px solid #757575;
  border-radius: 5px;
  background-color: #f2f6ff;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.commit:hover {
  background-color: #4a80ff
}
.commit a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.commit span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.commit img {
  float: left;
  width: 24px;
  height: 24px;
  padding-right: 10px;
}
.repo {
  padding: 10px;
  border: 1px solid #757575;
  border-radius: 5px;
  background-color: #f2f6ff;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.repo:hover {
  background-color: #4a80ff;
}
.repo a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.repo span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.commitDesc {
  font-size: 46px;
}
